.Landing{
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
  min-height: 200vh;
}

.Landing-nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background: linear-gradient(to right, #5533FF 0%, #27D6F5 100%);
}
.Landing-nav>a, .Landing-navlinks>a{
  text-decoration: none;
}

.Landing-navHead{
  color: white;
  margin: 10px;
}

.Landing-navlinks{
 display: flex;
}

.Landing-navLink{
  color: white;
  margin: 10px;
}

.Landing-services{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Landing-firstDiv{
  min-height: 60vh;
  background: linear-gradient(to right, #5533FF 0%, #27D6F5 100%);
  /* background: linear-gradient(to right, #7EEBFF 0%, #5533FF 100%); */
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  flex-wrap: wrap;
}

.Landing-hero-image{
  max-width: 100%;
  width: 530px;
  /* height: 400px; */
  margin-left: 5%;
  margin-right: 5%;
}

.Landing-hero-div{
  margin-bottom: 20px;
  margin-left: 10px;
}

.Landing-hero-div>h1{
  color: white;
}

.Landing-hero-div>h3{
  margin-top: 0;
  margin-bottom: 5px;
  color: rgb(234, 234, 234);
}

.Landing-services{
  padding-top: 100px;
}

.Landing-services-div{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.Landing-services-div-card{
  width: 400px;
  max-width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 15px;
}

/* .Landing-services-div-card>h3{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

.Landing-services-div-card>p{
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 700px) {
  .Landing-firstDiv{
    padding-bottom: 200px;
  }
}
