
.EditProduct > div {
    width: 96%;
    margin: 2%;
    padding: 15px;
  }
  
  .PhotoGalleryEditPopup-top-div {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
  }

  .PhotoGalleryEditPopup-top-div>p{
    width: 48%;
  }
  
  .EditProduct-input-div {
    margin-top: 10px;
    max-width: 100%;
  }
  
  .EditProduct-input-label {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
    color: var(--user-primary);
    margin-bottom: 2px;
  }
  
  #EditProduct-store-name-input {
    width: 100%;
    /* height: 40px; */
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    border-width: 1px;
  }
  
  #EditProduct-store-desc-input {
    width: 100%;
  }
  
  .EditProduct-unique-id-message {
    margin-top: 1px;
    font-weight: 500;
  }
  
  .EditProduct-inline-inputs1 {
    margin-right: 3px;
  }
  
  .EditProduct-inline-inputs1 > input {
    width: 100%;
  }
  
  .EditProduct-inline-inputs2 {
    margin-left: 3px;
  }
  
  .EditProduct-inline-inputs2 > input {
    width: 100%;
  }
  
  .EditProduct-inline-inputs2 {
    margin-left: 3px;
  }
  
  .EditProduct-inline-inputs2 > select {
    /* width: 100%; */
    margin-left: 20px;
  }
  
  .EditProduct-inline-inputs {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    margin-top: 10px;
  }
  
  .EditProduct-note{
      margin: 0;
      font-style: italic;
      font-size: 12px;
      font-weight: 100;
  }
  
  .EditProduct-subCategory-inputs{
      margin-left: 15px;
      width: 100%;
  }
  